{% extends 'base.html' %}

{% block title %}Make new note{% endblock %}

{% block content %}
<h2>Enter the note content</h2>

<!-- Dùng {% url 'learning:create_note' %} trong action để form gửi dữ liệu chính xác về view create_note -->
<form method="post" action="{% url 'learning:create_note' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_content">Note content:</label>
        <textarea name="content" id="id_content" rows="8" placeholder="Please write down the summary in order for AI to help you..."></textarea>
    </div>
    <button type="submit" class="btn-submit">Create exercise</button>
</form>
{% endblock %}