<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Font Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <title>{% block title %}Learning aid{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'learning/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Study Support</div>
        <nav>
            <a href="#">Homepage</a>
            <a href="#">Take note</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2026 Phindi-hanhnhan</p>
    </footer>
</body>
</html>