<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts (Poppins, Pacifico, Fredoka) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&family=Pacifico&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <title>{% block title %}Learning aid{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'learning/style.css' %}">
</head>
<body>
<header class="navbar">
    <div class="logo">Study Support</div>
    <nav>
        <!-- Homepage-->
        <a href="{% url 'learning:home' %}">Homepage</a>
        
        <a href="{% url 'learning:note_create' %}">Take note</a>
        
        <!-- Note list -->
        <a href="{% url 'learning:note_list' %}">My notes</a>
    </nav>
</header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2026 Phindi-hanhnhan</p>
    </footer>
</body>
</html>